<!DOCTYPE html>

<html>
<head>
  <title><%= title.replace(/!/g, '/').replace(/\.[^\.\/\\]*?$/, '') %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" href="jstree/themes/default-dark/style.min.css">
  <link rel="stylesheet" href="docco-template.css">
  <% if (css !== 'null') { %>
  <link rel="stylesheet" media="all" href="<%= css %>" />
  <% } %>
  <script src="jquery.min.js" type="text/javascript"></script>
  <script src="jstree/jstree.min.js" type="text/javascript"></script>
  <script src="tree-builder.js" type="text/javascript"></script>
</head>
<body>
  <div id="container">
    <div id="background"></div>
    <% if (sources.length > 0) { %>
    <script>
      var links = [];
      var hrefs = [];
      <% for (var i=0, l=sources.length; i<l; i++) { %>
        links.push('<%= path.basename(sources[i]).replace(/!/g, "/").replace(/\.[^\.\/\\]*?$/, "")%>');
        hrefs.push('<%=path.basename(destination(sources[i]))%>');
      <% } %>
    </script>
    <div id="jump_to">
      <div class="title">navigator</div>
      <div id="jump_page">
        loading...
      </div>
    </div>
    <% } %>
    <ul class="sections <%= title.match(/\.([a-zA-Z0-9]*)$/).pop()%>">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><span><%= title.replace(/!/g, '</span>/<span>').replace(/\.[^\.\/\\]*?$/, '') %></span></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%= i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
              <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%= section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>
</body>
</html>
